/*--------------------------------
COLOR SCHEME
----------------------------------*/
/*
Main Blue Shade:
#226766

Greys:
#777777
#bbbbbb
#444444
#707070
#101010

White:
#ffffff 
*/

/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700'); */

/*--------------------------------
SETUP
----------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 
        /* 'Montserrat', */
        'Segoe UI',
        -apple-system,
        BlinkMacSystemFont,
        Roboto, Oxygen,
        Cantarell, 'Open Sans',
        'Helvetica Neue',
        sans-serif;
}


/*--------------------------------
BASIC LAYOUT
----------------------------------*/
.homepage-container {
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
}

.homepage-container .height-100 {
    height: 100vh;
}

/*--------------------------------
LAYOUT DIVISIONS
----------------------------------*/

/*--------Whole Left Pane--------*/

.left-pane {
    width: 24%;
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    margin: 0;
    height: 88vh;
}

/*--------Name Div--------*/

.name-div {
    height: 12vh;
    padding: 0.5em;
    background-color: #226766;
    color: #fff;
}

.name {
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-top: 0;
}

.username {
    margin-left: 0.5em;
    font-size: 95%;
    margin-top: 0;
}

/*--------Workspace List--------*/

.workspace-list-div {
    width: 30%;
    /* height: 88vh; */
    background-color: #226766;
    display: flex;
    padding-top: 5vh;
    font-weight: 700;
}
.workspace-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.workspace-list span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    color: #444444;

    border-radius: 14px;
    padding: 0.8em;
    text-decoration: none;
    height: 35px;
    width: 35px;

    transition: all 0.2s;
    margin-bottom: 0.8em;
    border: 2px solid #eeeeee;
}

.workspace-list span:hover {
    background-color: #226766;
    color: #cccccc;
    border: 2px solid #cccccc;
}


/*--------Details Pane Div--------*/

.channel-details-div {
    width: 70%;
    /* height: 88vh; */
    display: flex;
    flex-direction: column;

    border-right: 3px solid #22676699;
    background-color: #eeeeee;
}

.channel-header {
    border-bottom: 2px solid #22676699;
    padding: 0 0 0.45em 0.5em;
    margin-top: 0.3em;
    font-weight: 400;
    color: #226766;
}

.channel-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 1.2em;
}

.channel-list label{
    margin-bottom: 0.5em;
    transition: all 0.3s;
    font-size: 15pt;
}

.channel-list label:hover {
    border-left: 5px solid #226766;
    padding-left: 0.6em;
    background-color: #2267661a;
}

.channel-name {
    color: #444444;
}

/*--------Actual Workspace--------*/

.workspace-div {
    width: 76%;
    /* background-color: #226766; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.workspace-main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* border-bottom: 3px solid #226766; */
}

.workspace-name {
    height: 8vh;
    display: block;
    /* border-bottom: 3px solid #226766; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace-name h2 {
    font-size: 26pt;
    font-weight: 300;
    color: #226766;
}

.messages-div {
    height: 84vh;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.messages-box {
    margin: auto;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0 0 10px #22676699;
}

.input-div {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.8em;
}

.input-div input[type="text"] {
    width: 90%;
    height: 50px;
    border: none;
    box-shadow: 0 0 10px #22676699;
    border-radius: 8px;
    padding-left: 2em;
    font-size: large;
}

.input-div button {
    height: 50px;
    width: 90px;
    box-shadow: 0 0 35px #22676699;
    border: none;
    border-radius: 8px;
    background-color: #226766dd;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.input-div button:hover {
    background-color: #226766;
}

.input-div button:active {
    background-color: #22676699;
}

.input-div button i {
    font-size: 28pt;
}